*{
    margin:8px;
    padding:8px;
    text-align: center;
}
body{
  background-image: url("s1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.header{
    text-align: center;
    padding: 100px;
}

 
.header {
    text-align: center;
    font-size: 5em;
    font-family: Arial;
    color: rgb(35, 211, 158);
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
.wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
.header {
    background-image: url("plants-nature-green-leaves-wallpaper.jpg");
    height: 200px;
    width: 50%;
  }
  img {
    border-radius: 8px;
  }
.footer {
    background: lightgreen;
  }
  
.main {
    text-align: center;
    background: rgb(139, 255, 149);
    display: contents;
  }
  
.aside-1 {
    background-color: rgba(179, 255, 185, 0.952);
    display: block;
    font-size: 20px;
  }

.aside-2 {
    background-color: rgba(179, 255, 185, 0.952);
    display: block;
    font-size: 20px;
  }
  
.aside-3 {
    background-color:rgba(179, 255, 185, 0.952);                      
    display: block;
    font-size: 20px;
  }

.aside-4 {
    background-color:rgba(179, 255, 185, 0.952);                    
    display: block;
    font-size: 20px;
  }

.aside-5 {
    background-color:rgba(179, 255, 185, 0.952);
    display: block;
    font-size: 20px;
  }

.aside-6 {
    background-color:rgba(179, 255, 185, 0.952);
    display:block;
    font-size: 20px;
  }

.aside-7 {
    background-color: rgba(179, 255, 185, 0.952);
    display:block;
    font-size: 20px;
  }

.aside-8 {
    background-color:rgba(179, 255, 185, 0.952);
    display: block;
    font-size: 20px;
  }
  
@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
body {
    padding: 2em; 
  }

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c6ffc6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 1;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.desc {
    padding: 15px;
    text-align: center;
  }

  * {
    font-family: 'trebuchet ms';
  }

p {
    font-family:'times new roman';
  }
  
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }